* {
  margin: 0;
}

@font-face {
  font-family: displayFont;
  src:url(DSEG7ClassicMini-Bold.ttf);
}

body,
html {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  background-color: #4c71bf;
  border-radius: 2%;
}

.row {
  display: flex;
  align-items: center;
  align-content: center;
}

#display {
  width: 160px;
  height: 20px;
  border: 5px solid #33362b;
  text-align: right;
  padding: 5px;
  margin: 10px;
  font-family: displayFont;
  background-color: #d7d6d1;
  font-size: larger;
  letter-spacing: .1em;
}

.red-button {
  color: #f8f8f8;
  background-color: #ef3a4b;
}

.white-button {
  color: #4c71bf;
  background-color: #f8f8f8;
}

.white-button,
.red-button {
  width: 40px;
  height: 30px;
  border: 1px solid black;
  margin: 4px 2px;
  padding: 1px 0 0 2px;
  font-family: sans-serif;
}

#buttons {
  padding: 4px;
  border: 1px solid #334d86;
  margin: 0px 10px 10px 10px;
}

#logo {
  font-family: serif;
  font-weight: bolder;
  color: #f8f8f8;
  font-size: large;
  text-align: right;
  width: 180px;
  margin-bottom: 5px;
}

#break {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  margin-bottom: 5px;
}

#solar {
  display: flex;
  justify-content: center;
}

.solar {
  height: 20px;
  width: 15px;
  background-color: #3d433f;
  border: 1px solid black;
}

#equals {
  flex-grow: 1;
  text-align: center;
}